<!DOCTYPE html>
<html lang="pt-br">    
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>    
    <title>Job Finder</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="job-view-container" class="container">
        <div id="jobs-container" class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 id="job-list-title">Vagas encontradas</h2>
              <ul id="job-list" class="list-group" th:each="job : ${jobs}">
                <li th:class="${job.new_job} ? 'list-group-item new-job' : 'list-group-item' ">
                  <img src="img/company.png" alt="Company">
                  <p th:text="${job.company}"></p>
                  <h2 th:text="${job.title}"></h2>
                  <p>R$ <Span th:text="${job.salary}"></Span></p>
                  <span class="new-job-label">Nova</span>
                  <a class="btn btn-primary" th:href="@{/jobs/{id}(id=${job.id})}">Ver vaga</a>
                </li>                
              </ul>
            </div>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    

</body>
</html>